@font-face {
  font-family: 'headfont';
  src: url('fonts/chau-philomene-one.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'bodyfont';
  src: url('fonts/Hack-Regular.ttf') format('truetype');
}

:root {
  --color-white: #FAFAFA;
  --color-dark-gray: #2C2B2B;
  --color-black: #151515;
  --color-radioactive-green: #02ff67;
  --color-lavender-sky: #a77aff; 
  --color-violet:var(--color-lavender-sky);
}

* {
  margin: 0;
  color: var(--color-black);
}

body {
  margin: auto;
  max-width: 1900px;
  background-color: var(--color-violet);
  height: 100%;
}

body * {
  font-family: 'bodyfont';
}

#body * {
  font-size: 32px;
}

body p.text {
  line-height: 38px;
  font-size: 30px;
}

body p.lightningtalksubtitle {
  font-size: 28px;
}

body strong {
  font-family: Arial;
}

h1,
h2 {
  font-family: 'headfont';
}

h1 {
  font-size: 50px;
}

h2 {
  font-weight: normal;
  font-size: 38px;
}

.main {
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  align-items: center;
  min-height: 150px;
}

.main img {
  width: 100%;
}

.main div:first-child {
  flex: 1;
  min-width: 90vh;
  margin-right: 4vw;
  font-size: 28px;
}


.main div:first-child.l {
  flex: 1;
  min-width: 90vh;
  margin-right: 4vw;
  font-size: 28px;
}

.main div:last-child {
  flex: 2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 34px;
  background-color: var(--color-black-transparent);
}

div.pastevents {
  text-align: left;
  padding-top: 0;
}

a {
  color: var(--color-radioactive-green);
  font-size: 26px;
}

.main div.content {
  flex: 2;
  background-color: var(--color-radioactive-green);
  border-radius: 40px 200px 40px 40px;
  box-shadow: rgba(2, 255, 103, 0.5) 20px 20px, rgba(2, 255, 103, 0.3) 40px 40px, rgba(2, 255, 103, 0.2) 60px 60px, rgba(2, 255, 103, 0.1) 80px 80px, rgba(2, 255, 103, 0.05) 100px 100px;
  margin-right: 7vw;
  margin-top: 12vh;
}

.past div {
  padding-left: 15vw;
}

.info {
  font-size: 18px;
}

.footer {
  padding-top: 3px;
  height: 23px;
  background-color: var(--color-black);
  color: var(--color-violet);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--color-white);
  text-align: center;
  margin-left: 0;
}

#footer img {width:100%;}

.footer * {
  font-size: 14px;
}

.footer p {
  color: var(--color-radioactive-green);
}

.footer a {
  color: var(--color-lavender-sky);
}

/* mobile */
@media screen and (max-width: 793px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }

  .header {
    height: 40vh;
  }

  .main {
    flex-direction: column;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .projects ul li {
    width: 100%;
  }

  .footer {
    position: relative;
    height: 40px;
    padding-top:12px;
  }

  .main div:last-child {
    border-radius: 40px 100px 40px 40px;
    margin-top: 50px;
  }

  .main div:first-child {
    min-width: 50vw;
    margin-bottom: 0px;
  }

  .main div.content {
    margin-top: 20px;
    margin-bottom: 50px;;
  }

  .past div.pastevents {
    margin-top: 50px;
    margin-bottom: 25px;
  }

  img {
    max-width: 90vw;
    margin: 0;
    padding: 0;
  }

  a {
    font-size: large;
  }
}